<div id="goodbye-container" class="text-center center-block">
	<div class="form-header-div">
		<h1>Goodbye</h1>
	</div>
	<div class="form-content-div">	
		<%= link_to "Back to Soup du Jour", root_path %>
	</div>
</div>