// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-container {
	background-color: white;
	border-radius: 10px;
	.form-header-div {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		background-color: #F9AA3A;
		color: white;

		h1 {
			margin: 0;
		}
	}
	.form-content-div {
		padding: 20px;

		.row {
			margin-bottom: 10px;
		}
	}
}

#goodbye-container {
	@extend .form-container;
	width: 400px;
}

#login-container {
	@extend .form-container;
	width: 400px;

	.login-text-field {
		width: 100%;
	}
}