* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div.is-loading {
  background-color: black;
  background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.soup {
  width: 250px;
  /*min-height: 300px;*/
}

.weather {
  width: 175px;
  /*min-height: 100px;*/

}

.word {
  width: 175px;
  /*min-height: 100px;*/
}

.reddit {
  width: 300px;
  /*min-height: 100px;*/
  overflow: scroll;
}

.yelp {
  width: 250px;
  /*min-height: 200px;*/
}
