* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: image-url('chicksoup.jpeg');
  background-size: cover;
  background-position: fixed;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  /*margin: 5px;*/
  /*padding: 5px;*/
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.shuffle-div {
  border: 0;
}

article {
  position: relative;
  width: 275px;
  height: 275px;
  margin: 0 20px 20px 0;
  background-color: white;
}

article .tile-header {
  text-align: left;
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 0 16px;
  display: block;
}

figure img {
  width: 100%;
  height: 100%;
  max-width: 100%;

}

.word figure {
  background: blue;
}
.word h1 {
    color: white;
   -webkit-text-fill-color: blue; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}

#box {
  text-align: center;
    margin: auto;
    width: 275px;
    height: 205px;
    overflow: hidden;
    position: relative;
}

.image img {
    display:block;
    width: 100%;
    height: 100%;
}

.image img {
    transform:scale(1);
    -ms-transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
  -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

article:hover .image img {    
  cursor: pointer;
    transform:scale(1.3);
    -ms-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -webkit-transform:scale(1.3);
    -o-transform:scale(1.3);
}

.text{
    position: absolute;    
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.text:hover{
    background: rgba(255, 255, 255, 0.5);    
}

article:hover .tile-header {
  text-align: left;
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F9AA3A;
  color: white;
  padding: 0 16px;
  display: block;
}

.text span {
  position: absolute;
  top: -100%;   
   -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.text:hover span {    
    top: 50%;
}