* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 5px;
  border: 2px solid #b6b5b4;
  color: #262524;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.shuffle-div {
  border: 0;
}

.header {
  background-color: #F9AA3A;

}
.soup {
  width: 150px;
}

.weather {
  width: 150px;

}

.beer {
  width: 150px;
  min-height: 75px;
}

.word {
  width: 150px;
  min-height: 75px;
}

.reddit {
  width: 250px;
  overflow: scroll;
}

.restaurant {
  width: 250px;
}

.event {
  width: 250px;
}

.recipe {
  width: 150px;
}

.news {
  width: 150px;
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}