* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div.is-loading {
  background-color: black;
  background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  border: 2px solid #b6b5b4;
  color: #262524;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.shuffle-div {
  border: 0;
}

.soup {
  width: 150px;
}

.weather {
  width: 150px;

}

.beer {
  width: 150px;

}

.word {
  width: 150px;
}

.reddit {
  width: 250px;
  overflow: scroll;
}

.restaurant {
  width: 250px;
}

.event {
  width: 250px;
}

.recipe {
  width: 150px;
}

.news {
  width: 150px;
}
