* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: image-url('chicksoup.jpeg');
  background-size: cover;
  background-position: fixed;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 5px;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.shuffle-div {
  border: 0;
}

.header {
  background-color: #F9AA3A;
}

.word {
  width: 200px;
  background-color:blue;
  border-radius:100%;
  text-align:center;
  color: white;
}

.word span
{
    line-height: normal;
    display:inline-block;
    vertical-align: middle;
}

.photo-grid {
  margin: 1em auto;
  max-width: 1106px;
  text-align: center;
}
 
.photo-grid figure {
  border: 5px solid white;
  display: inline-block;
  margin: 1em;
  width: 289px;
}
 
.photo-grid img {
  display: block;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%;
  object-fit: cover;
}
 
.photo-grid figure {
  height: 163px;
  overflow: hidden;
  position: relative;
  width: 289px;
}
 
.photo-grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}
 
.photo-grid figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 289px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle;
}

.photo-grid figure:hover figcaption {
  opacity: 1;
}


.photo-grid figure:hover figcaption p {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.photo-grid figure:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}

.image-wrapper { 
  position: relative;

}
.image-wrapper h2 {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
/*  width: 218px;*/
  margin: 5px;
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}


