* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 5px;
  border: 2px solid #b6b5b4;
  color: #262524;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .name {
  position: absolute;
  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.shuffle-div {
  border: 0;
}

.header {
  background-color: #F9AA3A;

}
.soup {
  width: 150px;
}

.weather {
  width: 150px;

}

.beer {
  width: 150px;
  min-height: 75px;
}

.word {
  width: 150px;
  min-height: 75px;
}

.reddit {
  width: 250px;
  overflow: scroll;
}

.restaurant {
  width: 250px;
}

.event {
  width: 250px;
}

.recipe {
  width: 150px;
}

.news {
  width: 150px;
}
/* Grow */
/*.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}*/

.photo-grid {
  margin: 1em auto;
  max-width: 1106px;
  text-align: center;
}
 
.photo-grid li {
  border: 5px solid white;
  display: inline-block;
  margin: 1em;
  width: 289px;
}
 
.photo-grid img {
  display: block;
  height: auto;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  max-width: 100%;
}
 
.photo-grid figure {
  height: 163px;
  overflow: hidden;
  position: relative;
  width: 289px;
}
 
.photo-grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}
 
.photo-grid figcaption p {
  display: table-cell;
  font-size: 1.5em;
  position: relative;
  top: -40px;
  width: 289px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  vertical-align: middle;
}

.photo-grid li:hover figcaption {
  opacity: 1;
}


.photo-grid li:hover figcaption p {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.photo-grid li:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  transform: scale(1.3);
}