<div class="grid">

	<div class="grid-item shuffle-div date">
		<p class="well lead">Soup du Jour for <%= Date.today.strftime("%A, %B %d") %>
		</p>
	</div>

	<div class="soup grid-item photo-grid" a data-toggle="modal" href="#soup-modal">
		<span>
		<figure>
			<img src="" alt="" class="img-responsive">
			<figcaption><p></p></figcaption>
		</figure>
		</span>
	</div>

	<div class="modal fade" id="soup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="grid-item weather">
		<h4 class="header" id="weather">Weather</h4>
		<p class="tile-title"></p>
		<p class="tile-body"></p>

	</div>

	<div class="restaurant grid-item photo-grid" a data-toggle="modal" href="#restaurant-modal">
		<span>
		<figure>
			<img src="" alt="" class="img-responsive">
			<figcaption><p></p></figcaption>
		</figure>
		</span>
	</div>

	<div class="modal fade" id="restaurant-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="grid-item reddit" a data-toggle="modal" href="#reddit-modal">
		<h4 class="header" id="reddit">Reddit</h4>
		<p class="tile-title"></p>
	</div>

	<div class="modal fade" id="reddit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>
	
	<div class="grid-item word" a data-toggle="modal" href="#word-modal">
		<h4 class="header" id="word">Word of the Day</h4>
		<p class="tile-title"></p>
	</div>

	<div class="modal fade" id="word-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="grid-item beer" a data-toggle="modal" href="#beer-modal">
		<h4 class="header" id="beer">Beer</h4>
		<p class="tile-title"></p>
	</div>

	<div class="modal fade" id="beer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="event grid-item photo-grid" a data-toggle="modal" href="#event-modal">
		<span>
		<figure>
			<img src="" alt="" class="img-responsive">
			<figcaption><p></p></figcaption>
		</figure>
		</span>
	</div>

	<div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="recipe grid-item photo-grid" a data-toggle="modal" href="#recipe-modal">
		<span>
		<figure>
			<img src="" alt="" class="img-responsive">
			<figcaption><p></p></figcaption>
		</figure>
		</span>
	</div>

	<div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="news grid-item photo-grid" a data-toggle="modal" href="#news-modal">
		<span>
		<figure>
			<img src="" alt="" class="img-responsive">
			<figcaption><p></p></figcaption>
		</figure>
		</span>
	</div>

	<div class="modal fade" id="news-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>
</div>

<div id="templates" class="hidden">
	<div class="soup-content modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>
      <img src="" alt="" class="img-responsive">
      <div class="modal-body">
		<p></p>
		<a href="">Link to More</a>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>

<select id="morsel-list" class="hidden" multiple>
	<% @morsel_list.each do |morsel| %>
		<option selected="true" value="<%= morsel %>"></option>
	<% end %>
</select>