<div class="grid container">

	<div class="modal fade" id="morsel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<article class="grid-item shuffle-div" id="brand">
		<header class="tile-header">
			<h4><%= Date.today.strftime("%A, %B %d") %></h4>
			<p>Click here to stir the tiles</p>
		</header>
		<div class="tile-content">
			<figure>
				<%= image_tag('logo-white.png') %>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden soup" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Soup du Jour</h4>
			<p></p>
		</header>
		<div class="soup tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden weather" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Weather du Jour</h4>
			<p></p>
		</header>
		<div class="weather tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><h4></h4></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden charity" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Charity du Jour</h4>
			<p></p>
		</header>
		<div class="charity tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden view" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>View du Jour</h4>
			<p></p>
		</header>
		<div class="view tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden restaurant" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Restaurant du Jour</h4>
			<p></p>
		</header>
		<div class="restaurant tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden photo" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Photo du Jour</h4>
			<p></p>
		</header>
		<div class="photo tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden reddit" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Reddit du Jour</h4>
			<p></p>
		</header>
		<div class="reddit tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item musicvideo hidden" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Music Video du Jour</h4>
			<p></p>
		</header>
		<div class="musicvideo tile-content">
			
		<iframe src="" frameborder="0" allowfullscreen></iframe>

		</div>
	</article>
	
	<article class="grid-item hidden word" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Word du Jour</h4>
			<p></p>
		</header>
		<div class="word tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden beer" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Beer du Jour</h4>
			<p></p>
		</header>
		<div class="beer tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden event" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Event du Jour</h4>
			<p></p>
		</header>
		<div class="event tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden deal" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Deal du Jour</h4>
			<p></p>
		</header>
		<div class="deal tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden recipe" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Recipe du Jour</h4>
			<p></p>
		</header>
		<div class="recipe tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item hidden news" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>News du Jour</h4>
			<p></p>
		</header>
		<div class="news tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item video hidden" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Video du Jour</h4>
			<p></p>
		</header>
		<div class="video tile-content">
			
		<iframe src="" frameborder="0" allowfullscreen></iframe>

		</div>
	</article>

	<article class="grid-item trivia" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Trivia du Jour</h4>
			<p></p>
		</header>
		<div class="trivia tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <%= image_tag('doubleordonate.png') %>
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

</div>

<div id="trivia-template" class="hidden">
	<div class="soup-content modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>
      <div class="modal-body">
      <h3></h3>
		<ol class="answers">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ol>
		<button class="answer">Show Answer!</button>
		<div id="show-answer"><h3></h3></div>
		
      </div>
      <div class="modal-footer">
		<a href="" target="_blank">Link to More</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>

<div id="templates" class="hidden">
	<div class="soup-content modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>
      <div class="modal-body">
      <img src="" alt="" class="img-responsive">
		<p></p>
		<a href="" target="_blank">Link to More</a>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>

<div id="video-template" class="hidden">
	<div class="soup-content modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>
      <div class="modal-body">
		<div class="embed-responsive embed-responsive-4by3">
		<iframe class="embed-responsive-item" src=""></iframe>
		</div>
		<div><p></p></div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>

<select id="morsel-list" class="hidden" multiple>
	<% @morsel_list.each do |morsel| %>
		<option selected="true" value="<%= morsel %>"></option>
	<% end %>
</select>