<div class="grid">

	<div class="modal fade" id="morsel-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="grid-item shuffle-div date">
		<p class="well lead"><%= Date.today.strftime("%A, %B %d") %>
		</p>
	</div>

	<article class="grid-item soup" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Soup du Jour</h4>
			<p></p>
		</header>
		<div class="soup tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item weather" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Weather du Jour</h4>
			<p></p>
		</header>
		<div class="weather tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item charity" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Charity du Jour</h4>
			<p></p>
		</header>
		<div class="charity tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item view" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>View du Jour</h4>
			<p></p>
		</header>
		<div class="view tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item restaurant" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Restaurant du Jour</h4>
			<p></p>
		</header>
		<div class="restaurant tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item photo" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Photo du Jour</h4>
			<p></p>
		</header>
		<div class="photo tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item reddit" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Reddit du Jour</h4>
			<p></p>
		</header>
		<div class="reddit tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<div class="musicvideo grid-item">
		<iframe width="488" height="275" src="" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<article class="grid-item word" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Word du Jour</h4>
			<p></p>
		</header>
		<div class="word tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item beer" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Beer du Jour</h4>
			<p></p>
		</header>
		<div class="beer tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item event" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Event du Jour</h4>
			<p></p>
		</header>
		<div class="event tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item deal" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Deal du Jour</h4>
			<p></p>
		</header>
		<div class="deal tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item recipe" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>Recipe du Jour</h4>
			<p></p>
		</header>
		<div class="recipe tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<article class="grid-item news" a data-toggle="modal" href="#morsel-modal">
		<header class="tile-header">
			<h4>News du Jour</h4>
			<p></p>
		</header>
		<div class="news tile-content">
			<figure>
				<div id="box">
   				 <div class="image">
      			  <img src="">
 			     </div>
   				 <div class="text text-info">
  			      <span><p>Click for more info</p></span>
  				  </div>
				</div>
			</figure>
		</div>
	</article>

	<div class="video grid-item">
		<iframe width="488" height="275" src="" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div id="templates" class="hidden">
	<div class="soup-content modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>
      <img src="" alt="" class="img-responsive">
      <div class="modal-body">
		<p></p>
		<a href="">Link to More</a>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>

<select id="morsel-list" class="hidden" multiple>
	<% @morsel_list.each do |morsel| %>
		<option selected="true" value="<%= morsel %>"></option>
	<% end %>
</select>