<div class="grid">

	<div class="grid-item shuffle-div date hvr-grow">
		<p class="well lead">Soup du Jour for <%= Date.today.strftime("%A, %B %d") %>
		</p>
	</div>

	<div class="grid-item soup hvr-grow">
		<h4 class="header" id="soup">Soup du Jour</h4>
		<p class="tile-title"></p>

	</div>

	<div class="grid-item weather hvr-grow">
		<h4 class="header" id="weather">Weather</h4>
		<p class="tile-title"></p>
		<p class="tile-body"></p>

	</div>

	<div class="grid-item restaurant hvr-grow">
		<h4 class="header" id="restaurant">Restaurant</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item reddit hvr-grow">
		<h4 class="header" id="reddit">Reddit</h4>
		<p class="tile-title"></p>
	</div>
	
	<div class="grid-item word hvr-grow">
		<h4 class="header" id="word">Word of the Day</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item beer hvr-grow">
		<h4 class="header" id="beer">Beer</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item event hvr-grow">
		<h4 class="header" id="event">Event</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item recipe hvr-grow">
		<h4 class="header" id="recipe">Recipe</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item news hvr-grow">
		<h4 class="header" id="news">News</h4>
		<p class="tile-title"></p>
	</div>
</div>