<div class="grid">

	<div class="grid-item shuffle-div date">
		<p class="well lead">Soup du Jour for <%= Date.today.strftime("%A, %B %d") %>
		</p>
	</div>

	<div class="grid-item soup">
		<h4 id="soup">Soup du Jour</h4>
		<p class="tile-title"></p>

	</div>

	<div class="grid-item weather">
		<h4 id="weather">Weather</h4>
		<p class="tile-title"></p>
		<p class="tile-body"></p>

	</div>

	<div class="grid-item restaurant">
		<h4 id="restaurant">Restaurant</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item reddit">
		<h4 id="reddit">Reddit</h4>
		<p class="tile-title"></p>
	</div>
	
	<div class="grid-item word">
		<h4 id="word">Word of the Day</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item beer">
		<h4 id="beer">Beer</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item event">
		<h4 id="event">Event</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item recipe">
		<h4 id="recipe">Recipe</h4>
		<p class="tile-title"></p>
	</div>

	<div class="grid-item news">
		<h4 id="news">News</h4>
		<p class="tile-title"></p>
	</div>
</div>