<div class="grid">

	<div class="grid-item shuffle-div date">
		<p class="well lead">Soup du Jour for <%= Date.today.strftime("%A, %B %d") %>
		</p>
	</div>

	<div class="soup grid-item photo-grid" a data-toggle="modal" href="#soup-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>Soup</h2>
			<figcaption><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="soup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="weather grid-item photo-grid" a data-toggle="modal" href="#weather-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>Weather</h2>
			<figcaption><p></p><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="weather-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="restaurant grid-item photo-grid" a data-toggle="modal" href="#restaurant-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>Restaurant</h2>
			<figcaption><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="restaurant-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="reddit grid-item photo-grid" a data-toggle="modal" href="#reddit-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>Reddit</h2>
			<figcaption><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="reddit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>
	
	<div class="grid-item word" a data-toggle="modal" href="#word-modal">
		<span><h4></h4>
		<p></p></span>
	</div>

	<div class="modal fade" id="word-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="beer grid-item photo-grid" a data-toggle="modal" href="#beer-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>Beer</h2>
			<figcaption><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="beer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="event grid-item photo-grid" a data-toggle="modal" href="#event-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>Event</h2>
			<figcaption><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="recipe grid-item photo-grid" a data-toggle="modal" href="#recipe-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>Recipe</h2>
			<figcaption><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<div class="news grid-item photo-grid" a data-toggle="modal" href="#news-modal">
		<figure class="image-wrapper">
			<img src="" alt="" class="img-responsive">
			<h2>News</h2>
			<figcaption><p></p></figcaption>
		</figure>
	</div>

	<div class="modal fade" id="news-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
		</div>
	</div>

	<!-- <div id="video" class="grid-item">
		<iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
	</div> -->
</div>

<div id="templates" class="hidden">
	<div class="soup-content modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">

        </h4>
      </div>
      <img src="" alt="" class="img-responsive">
      <div class="modal-body">
		<p></p>
		<a href="">Link to More</a>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>

<select id="morsel-list" class="hidden" multiple>
	<% @morsel_list.each do |morsel| %>
		<option selected="true" value="<%= morsel %>"></option>
	<% end %>
</select>